.view-channel{
  @media (min-width: 768px) {
    pie-channel{
      margin : 10px 130px;
    }
  }
  @media (max-width: 768px) {
    pie-channel{
      margin : 10px 20px;
      height : 330px;
    }
  }
}