@media (min-width: 768px) {
  .view-channel pie-channel{
    margin : 10px 130px;
  }
}
@media (max-width: 768px) {
  .view-channel pie-channel{
    margin : 10px 20px;
    height : 330px;
  }
}
.view-channel .panel-heading{
  cursor: pointer;
}