@import '_variables';

$brand-primary : #900000;
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

section{
  margin-top: 10px;
}

footer.footer {
  opacity: 0.85;
  font-size: 80%;
}

// Component styles are injected through grunt
// injector
@import '_variables.scss';
@import 'controllers/main/main.scss';
@import 'header/header.scss';
// endinjector