last-tweets {
  .panel-heading{
    cursor: pointer;
  }
  ul {
    height : 500px;
    overflow-y: scroll;
    li.ng-enter,
    li.ng-leave{
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    li.ng-enter {
        opacity: 0;
    }
    li.ng-enter-active {
        opacity: 1;
    }
    li.ng-leave {
        opacity: 1;
    }
    li.ng-leave-active {
        opacity: 0;
    }
  }
}